q {
    font-style: italic;
    font-weight: 300;
    display: block;
    text-align: center;
    font-size: 20pt;
}

span.author {
    padding-top: 15px;
    padding-bottom: 30px;
    display: block;
    text-align: center;
}

/* Mobile title */
@media only screen and (max-width: 768px) {
    #maintitle {
        padding: 0;
        margin: 0;
        font-family: openSans;
        font-weight: 800;
        font-style: bold;
        font-size: 15pt;
        color:white;
        height: 200px;
        text-align: center;
        line-height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
}

/* Desktop title */
@media only screen and (min-width: 768px) {
    #maintitle {
        padding: 0;
        margin: 0;
        font-family: openSans;
        font-weight: 800;
        font-style: bold;
        font-size: 50pt !important;
        color:white;
        height: 400px;
        text-align: center;
        line-height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
}


#just-line-break {
    white-space: pre-line;
}

p {
    margin: 8px;
}

body {
    background-color: white;
    margin: 0;
    font-family: openSans;
    font-weight: 400;
}

main {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

/* Footer styling*/

@media only screen and (min-width: 768px) {
    footer div a {
        color: white;
        text-decoration: none;
    }
    
    footer {
    
        background-color: #333333;
        padding-top: 3%;
        padding-bottom: 7%;
        color: white;
        font-size: 10pt;
    }
    
    .footer-column {
        text-align: center;
        float: left;
        width: 25%;
        text-align: center;
    }
}

p.main {
    text-align: justify;
}

#map1, #map2 {
    width: 100%;
    height: 400px;
}